body {
    overflow-y: scroll;
    overflow-x: hidden;
  }
.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}


.main-content{
    min-height: 100vh;
    z-index: 1;
}

.form-center{
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.form{
    box-shadow: 0 0 2rem black;
    height: 32rem;
    width: 30rem;
    padding: 0rem 0.5rem 0rem 0.5rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;   
    flex-direction: column;
    
}

.fieldset{
    padding: 3rem 2rem;
    border: none;
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.title{
    font-size: 2rem;
    color: var(--gray-100);
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: center;
}

.fieldset label{
    font-size: 0.9rem;
}

.fieldset > input{
    border: 1px solid var(--gray-300);
    height: 4rem;
    /* margin-bottom: 1.3rem; */
    border-radius: 0.3rem;
    padding: 1rem;
    font-size: 1rem;
}

.fieldset > input:focus {
    border:none
}

#space-down{
    margin-bottom: 1.3rem;
}

.fieldset a{
    border-radius: 0.3rem;
    width: 7.8rem;
    text-decoration: none;
    color: var(--purple-light);
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 0.3rem;
    margin-left: 0.1rem;
}

.fieldset a:hover{
    text-decoration: underline;
}

.footer{
    font-size: 0.8rem;
    margin-top: 4.5rem;
}

.footer button {
    background-color: var(--purple-dark);
    width: 18rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.footer button:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

.footer span:last-child {
    display: flex;
    justify-content: center;
}

.footer span:last-child p {
    color: var(--purple-light);
    font-weight: bold;
    margin-right: 0.3rem;
}

.footer span:last-child a {
    color: var(--gray-100);
    font-weight: bold;
    text-decoration: none;
}

.footer span:last-child a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .form{
        width: 23rem;
    }
}
