body{
    overflow-x: hidden;
}
.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.verification-content{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.verification-content img{
    margin: 3rem 0;
    width: 4rem;
    height: 4rem;
}

.none{
    display: none;
}

.verification-content strong{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.verification-content p{
    width: 35rem;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 1rem;
}

@media (max-width: 576px) {
    .verification-content img{
        width: 3rem;
        height: 3rem;
    }

    .verification-content{
        width: 80vw;
        
    }

    .verification-content strong{
        width: 20rem;
        font-size: 1.8rem;
    }

    .verification-content p{
        width: 20rem;
    }
    
}

