body{
    overflow-x: hidden;
}
.container{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container main{
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.container main img{
    margin: 3rem 0 2rem 0;
    width: 4.5rem;
    height: 4.5rem;
}

.confirm-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.confirm-email span{
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}


.confirm-email p{
    width: 33.5rem;
    font-size: 1.1rem;
    line-height: 2rem;
    text-align: justify;
    margin-bottom: 1.5rem;
}

.form{
    box-shadow: 0 0 2rem black;
    height: auto;
    width: 30rem;
    padding: 0.5rem 0.5rem 3.5rem 0.5rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    margin-top: 2rem;
}

.none{
    display: none;
}

.fieldset label{
    font-size: 0.9rem;
}

.fieldset{
    padding: 3rem 2rem;
    border: none;
    width: 100%;
    height: 39rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.title{
    font-size: 2rem;
    color: var(--gray-100);
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}

.fieldset > input{
    border: 1px solid var(--gray-300);
    height: 4rem;
    margin-bottom: 1.3rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
}
.fieldset > input:focus {
    border:none
}

.footer{
    font-size: 0.8rem;
}

.footer button {
    background-color: var(--purple-dark);
    width: 18rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: bold;
}

.footer button:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

.footer span:last-child {
    display: flex;
    justify-content: center;
}

.footer span:last-child p {
    color: var(--purple-light);
    font-weight: bold;
    margin-right: 0.3rem;
}

.footer span:last-child a {
    color: var(--gray-100);
    font-weight: bold;
    text-decoration: none;
}

.footer span:last-child a:hover {
    text-decoration: underline;
}

@media (max-width: 576px) {
    .container .confirm-email span{
        font-size: 1.6rem;
        width: 20rem;
    }
    
    
    .container .confirm-email p{
        font-size: 1.1rem;
        width: 20rem;
    }
    
    .form{
        width: 20rem;
    }

    .fieldset label{
        font-size: 0.8rem;
    }

    .confirm-email span{
        font-size: 2rem;
        width: 23rem;
    }

    .confirm-email img{
        width: 3rem;
        height: 3rem;
    }

    .confirm-email{
        width: 80vw;
        
    }

    .confirm-email strong{
        width: 20rem;
        font-size: 1.8rem;
    }

    .confirm-email p{
        width: 23rem;
    }

    .title{
        font-size: 1.6rem;
    }

    .footer button {
        margin-top: 4rem;
        width: 15rem;
    }

}
