body{
    overflow-x: hidden;
}
.container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
}

.main-content{
    min-height: 100vh ;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.verification-content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-content .verification-content img{
    margin: 2.5rem 0;
    width: 4rem;
    height: 4rem;
}

.none{
    display: none;
}

.verification-content strong{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.main-content .verification-content p{
    width: 30rem;
    font-size: 1.1rem;
    line-height: 1.6rem;
    text-align: justify;
    margin-bottom: 1rem;
}
.fomr-class{
    
}

#none {
    display: none;
}
.main-content form{
    box-shadow: 0 0 2rem black;
    height: 32rem;
    width: 30rem;
    padding: 0.5rem 3rem 3.5rem 3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;   
    flex-direction: column;
    margin-top: 2rem;

}

.none{
    display: none;
}

#none{
    display: none;
}
.main-content img{
    margin: 3rem 0 2rem 0;
    width: 4.5rem;
    height: 4.5rem;
    
}

.main-content form fieldset{
    padding: 5rem 0rem;
    border: none;
    height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: 2rem;
}

.title-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.main-content form span {
    font-size: 2rem;
    color: var(--gray-100);
    margin-bottom: 1.5rem;
}

.main-content p {
    width: 20rem;
    line-height: 1.4rem;
    font-size: 0.9rem;
    text-align: justify;
}

.main-content fieldset label{
    font-size: 0.9rem;
}

.main-content fieldset input {
    border: 1px solid var(--gray-300);
    height: 4rem;
    width: 23rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
}

.main-content input:focus {
    border: none;
}

.main-content footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 7rem;

}

.main-content footer button:first-child{
    background-color: var(--gray-500);
}

.main-content footer button:first-child:hover{
    background-color: #952222
}

.main-content footer button {
    background-color: var(--purple-dark);
    width: 10rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: bold;
}

.main-content footer button:hover {
    background-color: var(--purple-light);
    cursor: pointer;
}

@media (max-width: 576px) {
    .main-content{
        width: 30rem;
    }

    .main-content .verification-content img{
        width: 3rem;
        height: 3rem;
    }

    .main-content .verification-content{
        width: 80vw;
        
    }

    .main-content .verification-content strong{
        width: 20rem;
        font-size: 1.6rem;
    }

    .main-content .verification-content p{
        width: 20rem;
    }

    .main-content form{
        box-shadow: 0 0 2rem black;
        height: 30rem;
        width: 20rem;
        margin-bottom: 2.5rem;
    }

    .main-content .confirm-email p{
        width: 20rem;
    }
    .confirm-email span{
        width: 20rem;
    }

    .main-content form fieldset{
        margin-bottom: 1rem;
        width: 10rem;
    }

    .main-content fieldset input {
        width: 17rem;
    }
    .main-content fieldset label{
        font-size: 0.8rem;
    }

    .main-content form span {
        width: 21.5rem;
        font-size: 2rem;
        color: var(--gray-100);
        margin-bottom: 1.8rem;
    }

    .main-content p {
        width: 21.5rem;
        font-size: 1rem;
    }
    
    .main-content footer{
       gap: 1rem;
    }

    .main-content footer button {
        width: 8rem;
        margin-bottom: 2rem;
    }

    .main-content .title-content {
        display: flex;
        align-items: center;
    }

    .main-content .title-content span {
        width: 15rem;
        font-size: 1.6rem;
    }

    .main-content .title-content p {
        width: 17rem;
        line-height: 1.25rem;
    }
}