body{
    overflow-x: hidden;
}
.container{
    /* border: 1px solid green; */
    min-height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-top: 10rem;
}

.container-title{
    color: var(--gray-300);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5rem;
}

.container-off{
    display: none;
}

.form{
    display: flex;
    gap: 0.5rem;
    margin-top: -2rem;
}

.fieldset{
    border: 1px solid black;
    border-radius: 0.3rem;
}

.fieldset > input{
    height: 3rem;
    width: 35rem;
    border-radius: 0.3rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
}
.fieldset > input:focus {
    border:none
}

.btnCriar{
    background-color: var(--blue-dark);
    width: 5rem;
    height: 3rem;
    border-radius: 0.3rem;
    border: none;
    font-size: 1rem;
    font-weight: bold;
}

.btnCriar:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.title{
    color: var(--blue);
    width: 38rem;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.title span{
    background-color: var(--gray-500);
    color: var(--gray-100);
    padding: 0 0.5rem;
    margin-left: 0.2rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: normal;
}

.listTodos{
    padding: 1rem;
}

.logout{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    z-index: 1;
    position: absolute;
    right: 5rem;
    top: 4.2rem;
}

.logout:hover{
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 576px) {
    .fieldset > input{
        width: 28rem;
    }

    .title{
        width: 33rem;
    }

    .form{
        display: flex;
        gap: 0.5rem;
        margin-top: -3.2rem;
    }

    /* .logout{
        display: none;
    } */
}